{% block body %}
    <div class="container">
        <img id="logo" src="https://stockagehelloassoprod.blob.core.windows.net/images/logos/nos-amis-les-oiseaux-d0956ed6e03f4b6582e0b6efca6dec76.png"/>
        <div class="row"><center><h3>Via formulaire de contact</h3></center></div>
        <div class="row">
            <div>
                <p>{{ corps }}</p>
            </div>

        </div>
    </div>
{%  endblock %}


