{% extends "OmegaNAOBundle::layout.html.twig" %}

{% block title %}
	Conditions Générales D'utilisation - {{ parent() }}
{% endblock %}

{% block naobundle_body %}

	<div class="jumbotron bg-home">
	  <h2 class="text-center">Conditions Générales D'utilisation</h2>
	  <hr>
	  
	  <h3>ARTICLE 1. INFORMATIONS LÉGALES</h3>
<p class="text-justify">En vertu de l'article 6 de la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé dans cet article l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>
<p class="text-justify">Le site Nos Amis les Oiseaux est édité par :</p>
<p class="text-justify">Association NAO, dont le siège siège social est situé à l'adresse suivante : 35 route des plages, Marseille, et immatriculée au registre suivant : RCS PARIS 123 456 789 1011.</p>
<p class="text-justify">Téléphone : 01 02 03 04 05/ Adresse e-mail : contact@nao.fr.</p>
 <p class="text-justify">Le directeur de publication du site est :</p>
<p class="text-justify">Michel Dujardin.</p>
 <p class="text-justify">Le site Nos Amis les Oiseaux est hébergé par :<br />
SAS OVH, dont le siège est situé 2 rue Kellermann - 59100 Roubaix - France <br />
Numéro de téléphone : 0404040404</p>
 <h3>ARTICLE 2. PRÉSENTATION DU SITE</h3>
<p class="text-justify">Le site Nos Amis les Oiseaux a pour objet :</p>
<ul>
<li>Animer une communauté de passionné autour de l’ornithologie</li>  <li>Permettre d'ajouter des observations</li>  <li>Echanger avec des professionnels</li>
</ul>


 <h3>ARTICLE 3. CONTACT</h3>
<p class="text-justify">Pour toute question ou demande d'information concernant le site, ou tout signalement de contenu ou d'activités illicites, l'utilisateur peut contacter l'éditeur à l'adresse e-mail suivante: contact@nao.fr ou adresser un courrier recommandé avec accusé de réception à : Association NAO - 35 route des plages, Marseille</p>
 <h3>ARTICLE 4. ACCEPTATION DES CONDITIONS D’UTILISATION</h3>
<p class="text-justify">L'accès et l'utilisation du site sont soumis à l'acceptation et au respect des présentes Conditions Générales d’Utilisation.</p>
<p class="text-justify">L'éditeur se réserve le droit de modifier, à tout moment et sans préavis, le site et des services ainsi que les présentes CGU, notamment pour s'adapter aux évolutions du site par la mise à disposition de nouvelles fonctionnalités ou la suppression ou la modification de fonctionnalités existantes.</p>
<p class="text-justify">Il est donc conseillé à l'utilisateur de se référer avant toute navigation à la dernière version des CGU, accessible à tout moment sur le site. En cas de désaccord avec les CGU, aucun usage du site ne saurait être effectué par l’utilisateur.</p>
 <h3>ARTICLE 5. ACCÈS ET NAVIGATION</h3>
<p class="text-justify">L'éditeur met en œuvre les solutions techniques à sa disposition pour permettre l'accès au site 24 heures sur 24, 7 jours sur 7. Il pourra néanmoins à tout moment suspendre, limiter ou interrompre l'accès au site ou à certaines pages de celui-ci afin de procéder à des mises à jours, des modifications de son contenu ou tout autre action jugée nécessaire au bon fonctionnement du site.</p>
<p class="text-justify">La connexion et la navigation sur le site Nos Amis les Oiseaux valent acceptation sans réserve des présentes Conditions Générales d'Utilisation, quelques soient les moyens techniques d'accès et les terminaux utilisés.</p>
<p class="text-justify">Les présentes CGU s'appliquent, en tant que de besoin, à toute déclinaison ou extension du site sur les réseaux sociaux et/ou communautaires existants ou à venir.</p>
 <h3>ARTICLE 6. GESTION DU SITE</h3>
<p class="text-justify">Pour la bonne gestion du site, l'éditeur pourra à tout moment :</p>
<ul>
<li>suspendre, interrompre ou limiter l'accès à tout ou partie du site, réserver l'accès au site, ou à certaines parties du site, à une catégorie déterminée d'internaute ;</li>
<li>supprimer toute information pouvant en perturber le fonctionnement ou entrant en contravention avec les lois nationales ou internationales, ou avec les règles de la Nétiquette</li>
<li>suspendre le site afin de procéder à des mises à jour.</li>
</ul>
 <h3>ARTICLE 7. SERVICES RÉSERVÉS AUX UTILISATEURS INSCRITS</h3>
<h4>7.1 INSCRIPTION</h4>
<p class="text-justify">L'accès à certains services est conditionné par l'inscription de l’utilisateur.</p>
<p class="text-justify">L'inscription et l'accès aux services du site sont réservés exclusivement aux personnes physiques capables juridiquement, ayant rempli et validé le formulaire d'inscription disponible en ligne sur le site Nos Amis les Oiseaux, ainsi que les présentes Conditions Générales d’Utilisation.</p>
<p class="text-justify">Lors de son inscription, l'utilisateur s'engage à fournir des informations exactes, sincères et à jour sur sa personne et son état civil. L'utilisateur devra en outre procéder à une vérification régulière des données le concernant afin d'en conserver l’exactitude.</p>
<p class="text-justify">L'utilisateur doit ainsi fournir impérativement une adresse e-mail valide, sur laquelle le site lui adressera une confirmation de son inscription à ses services. Une adresse de messagerie électronique ne peut être utilisée plusieurs fois pour s'inscrire aux services.</p>
<p class="text-justify">Toute communication réalisée par Nos Amis les Oiseaux et ses partenaires est en conséquence réputée avoir été réceptionnée et lue par l'utilisateur. Ce dernier s'engage donc à consulter régulièrement les messages reçus sur cette adresse e-mail et à répondre dans un délai raisonnable si cela est nécessaire.</p>
<p class="text-justify">Une seule inscription aux services du site est admise par personne physique.</p>
<p class="text-justify">L'utilisateur se voit attribuer un identifiant lui permettant d'accéder à un espace dont l'accès lui est réservé (ci-après "Espace personnel"), en complément de la saisie de son mot de passe.</p>
<p class="text-justify">Le mot de passe est personnel et confidentiel, l'utilisateur s'engage ainsi à ne pas le communiquer à des tiers.</p>
<p class="text-justify">Nos Amis les Oiseaux se réserve en tout état de cause la possibilité de refuser une demande d'inscription aux services en cas de non-respect par l'Utilisateur des dispositions des présentes Conditions Générales d’Utilisation.</p>


<h4>7.2 DÉSINSCRIPTION</h4>
<p class="text-justify">L'utilisateur régulièrement inscrit pourra à tout moment demander sa désinscription en se rendant sur la page dédiée dans son Espace personnel. Toute désinscription du site sera effective immédiatement après que l'utilisateur ait rempli le formulaire prévu à cet effet.</p>
 <h3>ARTICLE 8. RESPONSABILITÉS</h3>
<p class="text-justify">L'éditeur n'est responsable que du contenu qu'il a lui-même édité.</p>
<p class="text-justify">L'éditeur n'est pas responsable :</p>
<ul>
<li>en cas de problématiques ou défaillances techniques, informatiques ou de compatibilité du site avec un matériel ou logiciel quel qu'il soit ;</li>
<li>des dommages directs ou indirects, matériels ou immatériels, prévisibles ou imprévisibles résultant de l'utilisation ou des difficultés d'utilisation du site ou de ses services ;</li>
<li>des caractéristiques intrinsèques de l'Internet, notamment celles relatives au manque de fiabilité et au défaut de sécurisation des informations y circulant ;</li>
<li>des contenus ou activités illicites utilisant son site et ce, sans qu'il en ait pris dûment connaissance au sens de la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique et la Loi n°2004-801 du 6 août 2004 relative à la protection des personnes physiques à l'égard de traitement de données à caractère personnel.</li>
</ul>
<p class="text-justify">Par ailleurs, le site ne saurait garantir l'exactitude, la complétude, et l'actualité des informations qui y sont diffusées.</p>
<p class="text-justify">L'utilisateur est responsable :</p>
<ul>
<li>de la protection de son matériel et de ses données ;</li>
<li>de l'utilisation qu'il fait du site ou de ses services ;</li>
<li>s'il ne respecte ni la lettre, ni l'esprit des présentes CGU.</li>
</ul>

 <h3>ARTICLE 9. LIENS HYPERTEXTES</h3>
<p class="text-justify">Le site peut contenir des liens hypertextes pointant vers d'autres sites internet sur lesquels Nos Amis les Oiseaux n'exerce pas de contrôle. Malgré les vérifications préalables et régulières réalisés par l'éditeur, celui-ci décline tout responsabilité quant aux contenus qu'il est possible de trouver sur ces sites.</p>
<p class="text-justify">L'éditeur autorise la mise en place de liens hypertextes vers toute page ou document de son site sous réserve que la mise en place de ces liens ne soit pas réalisée à des fins commerciales ou publicitaires.</p>
<p class="text-justify">En outre, l'information préalable de l'éditeur du site est nécessaire avant toute mise en place de lien hypertexte.</p>
<p class="text-justify">Sont exclus de cette autorisation les sites diffusant des informations à caractère illicite, violent, polémique, pornographique, xénophobe ou pouvant porter atteinte à la sensibilité du plus grand nombre.</p>
<p class="text-justify">Enfin, Nos Amis les Oiseaux se réserve le droit de faire supprimer à tout moment un lien hypertexte pointant vers son site, si le site l'estime non conforme à sa politique éditoriale.</p>
 <h3>ARTICLE 10. COLLECTE DE DONNÉES</h3>
<p class="text-justify">Le site est exempté de déclaration à la Commission Nationale Informatique et Libertés (CNIL) dans la mesure où il ne collecte aucune donnée concernant les utilisateurs.</p>
 <h3>ARTICLE 11. COOKIES</h3>
<p class="text-justify">Le site a éventuellement recours aux techniques de "cookies" lui permettant de traiter des statistiques et des informations sur le trafic, de faciliter la navigation et d'améliorer le service pour le confort de l'utilisateur, lequel peut s'opposer à l'enregistrement de ces "cookies" en configurant son logiciel de navigation.</p>
 <h3>ARTICLE 12. PROPRIÉTÉ INTELLECTUELLE</h3>
<p class="text-justify">La structuration du site mais aussi les textes, graphiques, images, photographies, sons, vidéos et applications informatiques qui le composent sont la propriété de l'éditeur et sont protégés comme tels par les lois en vigueur au titre de la propriété intellectuelle.</p>
<p class="text-justify">Toute représentation, reproduction, adaptation ou exploitation partielle ou totale des contenus, marques déposées et services proposés par le site, par quelque procédé que ce soit, sans l'autorisation préalable, expresse et écrite de l'éditeur, est strictement interdite et serait susceptible de constituer une contrefaçon au sens des articles L. 335-2 et suivants du Code de la propriété intellectuelle. Et ce, à l'exception des éléments expressément désignés comme libres de droits sur le site.</p>
<p class="text-justify">L'accès au site ne vaut pas reconnaissance d'un droit et, de manière générale, ne confère aucun droit de propriété intellectuelle relatif à un élément du site, lesquels restent la propriété exclusive de l’éditeur.</p>
<p class="text-justify">Il est interdit à l'utilisateur d'introduire des données sur le site qui modifieraient ou qui seraient susceptibles d'en modifier le contenu ou l’apparence.</p>
 <h3>ARTICLE 13. LOI APPLICABLE ET JURIDICTION COMPÉTENTE</h3>
</p>Les présentes Conditions Générales d'Utilisation sont régies par la loi française. En cas de différend et à défaut d'accord amiable, le litige sera porté devant les tribunaux français conformément aux règles de compétence en vigueur.</p>
 <p class="text-center"><em>Le site Nos Amis les Oiseaux vous souhaite une excellente navigation !</em></p>





{% endblock %}
