<img id="logo" src="https://stockagehelloassoprod.blob.core.windows.net/images/logos/nos-amis-les-oiseaux-d0956ed6e03f4b6582e0b6efca6dec76.png"/>

<p>Bonjour, {{ name }}</p>

<p>Votre observation a bien été validée. Elle est désormais accessible sur notre site.</p>

<p>Toute l'équipe NAO vous souhaite une agréable visite.</p>
